<h2>{{title}}</h2>
<h5>Welcome to {{title}}</h5>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <!--start thumbnails-->
    <div class="thumbnail">
      <img src="https://www.bicsport.com/files/images/2017/kayak/sit-on-top.jpg" alt="...">
      <div class="img-responsive">
        <h3>Thumbnail label</h3>
        <p class="itemDescription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, enim! A odio nobis est porro eaque modi, molestias aliquid! Quae enim libero harum neque repudiandae deleniti sint facilis obcaecati hic.</p>
        <!--
          <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
        -->
        <p>
          <div class="clearfix">
            <div class="price pull-left">
              <div><p>$12</p></div>
            </div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
          </div>
          
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <!--start thumbnails-->
    <div class="thumbnail">
      <img src="https://www.bicsport.com/files/images/2017/kayak/sit-on-top.jpg" alt="...">
      <div class="img-responsive">
        <h3>Thumbnail label</h3>
        <p class="itemDescription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, enim! A odio nobis est porro eaque modi, molestias aliquid! Quae enim libero harum neque repudiandae deleniti sint facilis obcaecati hic.</p>
        <!--
          <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
        -->
        <p>
          <div class="clearfix">
            <div class="price pull-left">
              <div><p>$12</p></div>
            </div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
          </div>
          
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <!--start thumbnails-->
    <div class="thumbnail">
      <img src="https://www.bicsport.com/files/images/2017/kayak/sit-on-top.jpg" alt="...">
      <div class="img-responsive">
        <h3>Thumbnail label</h3>
        <p class="itemDescription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, enim! A odio nobis est porro eaque modi, molestias aliquid! Quae enim libero harum neque repudiandae deleniti sint facilis obcaecati hic.</p>
        <!--
          <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
        -->
        <p>
          <div class="clearfix">
            <div class="price pull-left">
              <div><p>$12</p></div>
            </div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
          </div>
          
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <!--start thumbnails-->
    <div class="thumbnail">
      <img src="https://www.bicsport.com/files/images/2017/kayak/sit-on-top.jpg" alt="...">
      <div class="img-responsive">
        <h3>Thumbnail label</h3>
        <p class="itemDescription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, enim! A odio nobis est porro eaque modi, molestias aliquid! Quae enim libero harum neque repudiandae deleniti sint facilis obcaecati hic.</p>
        <!--
          <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
        -->
        <p>
          <div class="clearfix">
            <div class="price pull-left">
              <div><p>$12</p></div>
            </div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
          </div>
          
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <!--start thumbnails-->
    <div class="thumbnail">
      <img src="https://www.bicsport.com/files/images/2017/kayak/sit-on-top.jpg" alt="...">
      <div class="img-responsive">
        <h3>Thumbnail label</h3>
        <p class="itemDescription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, enim! A odio nobis est porro eaque modi, molestias aliquid! Quae enim libero harum neque repudiandae deleniti sint facilis obcaecati hic.</p>
        <!--
          <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
        -->
        <p>
          <div class="clearfix">
            <div class="price pull-left">
              <div><p>$12</p></div>
            </div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
          </div>
          
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <!--start thumbnails-->
    <div class="thumbnail">
      <img src="https://www.bicsport.com/files/images/2017/kayak/sit-on-top.jpg" alt="...">
      <div class="img-responsive">
        <h3>Thumbnail label</h3>
        <p class="itemDescription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, enim! A odio nobis est porro eaque modi, molestias aliquid! Quae enim libero harum neque repudiandae deleniti sint facilis obcaecati hic.</p>
        <!--
          <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
        -->
        <p>
          <div class="clearfix">
            <div class="price pull-left">
              <div><p>$12</p></div>
            </div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
          </div>
          
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <!--start thumbnails-->
    <div class="thumbnail">
      <img src="https://www.bicsport.com/files/images/2017/kayak/sit-on-top.jpg" alt="...">
      <div class="img-responsive">
        <h3>Thumbnail label</h3>
        <p class="itemDescription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, enim! A odio nobis est porro eaque modi, molestias aliquid! Quae enim libero harum neque repudiandae deleniti sint facilis obcaecati hic.</p>
        <!--
          <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
        -->
        <p>
          <div class="clearfix">
            <div class="price pull-left">
              <div><p>$12</p></div>
            </div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
          </div>
          
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <!--start thumbnails-->
    <div class="thumbnail">
      <img src="https://www.bicsport.com/files/images/2017/kayak/sit-on-top.jpg" alt="...">
      <div class="img-responsive">
        <h3>Thumbnail label</h3>
        <p class="itemDescription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, enim! A odio nobis est porro eaque modi, molestias aliquid! Quae enim libero harum neque repudiandae deleniti sint facilis obcaecati hic.</p>
        <!--
          <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
        -->
        <p>
          <div class="clearfix">
            <div class="price pull-left">
              <div><p>$12</p></div>
            </div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
          </div>
          
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <!--start thumbnails-->
    <div class="thumbnail">
      <img src="https://www.bicsport.com/files/images/2017/kayak/sit-on-top.jpg" alt="...">
      <div class="img-responsive">
        <h3>Thumbnail label</h3>
        <p class="itemDescription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, enim! A odio nobis est porro eaque modi, molestias aliquid! Quae enim libero harum neque repudiandae deleniti sint facilis obcaecati hic.</p>
        <!--
          <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
        -->
        <p>
          <div class="clearfix">
            <div class="price pull-left">
              <div><p>$12</p></div>
            </div>
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
          </div>
          
        </p>
      </div>
    </div>
  </div>
</div>